body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#contact-form {
    margin-bottom: 20px;

}

#contact-form input {
    margin-right: 10px;
}

#contacts {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #000000;
    border-collapse: collapse;
}

.delete-button {
    color: red;
    background-color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.update-button {
    color: blue;
    background-color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}